/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	font-weight: bold;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
}

/*Geral*/

* {
	padding: 0px;
	margin: 0px;
}

.container{
	width: 90%;
	margin: 0px auto;
}

.clear {
	clear: both;
}

.mb{
	margin-bottom: 15px;
}

#bg-top{
	background: url(../images/bg-curve-desktop.svg) no-repeat top center;
	background-size: cover;
	height: 100px;
}
#bg-color{
	background-color: hsl(240, 75%, 98%);
}

#bg-green{
	background-color: hsl(238, 22%, 44%);
	height: 450px;
	color: white;
}

i {
	display: inline-block;
	width: 20px;
	height: 30px;
}

a{
	text-decoration: none;
	color: black;
	font-family: 'Raleway', sans-serif;
}

input{
	height: 35px;
	width: 40%;
	margin-right: 15px;
	margin-bottom: 15px;
	padding-left: 5px;
}

button {
	width: 160px;
	height: 40px;
	background-color: hsl(224, 93%, 58%);
	border: none;
	border-radius: 5px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}

/* Cabecalho */
nav{
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo{
	width: 180px;
	height: 60px;
	background: url(../images/logo.svg) no-repeat center left;
	text-indent: -3000px;
	float: left;
}

.branco{
	background: url(../images/logo-white.svg) no-repeat center left;
}

.menu-lista{
	float: right;
	padding-top: 20px;
}

.menu-itens{
	display:  inline-block;
	padding: 5px 0;
	margin: 0 10px;
	
}

.menu-link {
	padding: 10px 20px;
	border-radius: 15px;
	transition: background 0.8s;
}

.menu-link:hover{
	background: hsl(240, 75%, 98%);
}

/*Principal*/
.linha{
	display: flex;    /* Versão  Mobile = Block */
	flex-direction: row-reverse;
}

.normal{
	flex-direction: row;
}

.coluna{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.height{
	height: 450px;
}

.img-fluid{
	width: 100%;
}

/*Opiniao*/
.alternativo{
	color: hsl(170, 45%, 43%);
	text-decoration: underline;
}

.arrow{
	background: url(../images/icon-arrow.svg) no-repeat center bottom;
	background-size: 25px;
}

.comentario{
	width: 70%;
	padding: 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 15px hsl(0, 0%, 75%);
	margin-bottom: 50px;
}

.comentario p{
	font-size: 1em;
}

.quote{
	background: url(../images/icon-quotes.svg) no-repeat center center;
}

.avatar{
	width: 50px;
	border-radius: 50px;
	margin-right: 8px;

}

.italico{
	font-style: italic;
	font-size: 0.8em;
}

/*Email*/
.input{
	width: 65%;
	font-size: 1.2em;
	padding-left: 15px;
	font-family: 'Raleway' sans-serif;
}

.button{
	width: 200px;
	font-size: 1em;
}	

.large{
	height: 55px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 30px;
}

/*Rodape*/
footer{
	display: flex;
	align-items: center;
	height: 450px;
	background: hsl(243, 87%, 12%);
	color: white;
}
footer li {
	font-family: "Open Sans";
	margin-bottom: 18px;
	margin-right: 50px;
	cursor: pointer;
}

footer li:hover{
	text-decoration: underline;
}

.email{
	background: url(../images/icon-email.svg) no-repeat center bottom;
}

.tel{
	background: url(../images/icon-phone.svg) no-repeat center bottom;
}

.left{
	float: left;
}

.social{
	border: 1px solid white;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	background: none;
	line-height: 50px;
	transition: color 0.8s, background 0.8s;
}

.social:hover{
	background: white;
	color: hsl(243, 87%, 12%);
}

/*Media Queries*/
        /*Medium devices (tablets, 768px e maiores)*/
        @media (max-width: 991.98px) {
            /*Geral*/
            body{
                text-align: center;
            }
            .linha{
            	display: block;
            }
            .coluna{
            	width: 100%;
            }

           #bg-top{
          		margin-top: 80px;
           }

           button, input{
           	width: 80%;
           	margin: 0px;
           	margin-bottom: 10px;
           	padding: 0px;
           }


           h2{
           		font-size: 1.8em;
           }

           p{
           		font-size: 1.4em;
           }

			/*Navegacao*/
           .logo{
           		width: 35%;
           		background-size: 100%;
           }
           
           .menu-itens{
           		margin: 0px 5px;
           		padding: 0px;
           }

           .menu-link{
           		margin: 0px;
           		padding: 0px;
           		font-size: 0.9em;
           }

            /*Opiniao*/
            .comentario{
            	margin-left: auto;
            	margin-right: auto;
            	text-align: left;
            }

            /*Email*/
            #bg-green{
            	padding-bottom: 60px;
            }

            .large{
            	width: 65%;
            	padding: 0px;
            	margin: 0px;
            	margin-bottom: 10px;
            }

            .height{
            	height: 100%;
            	padding: 40px 0px;
            }

            .pt{
            	padding-top: 40px;
            }
            /*Rodape*/
            footer{
            	height: 600px;
            	text-align: left;
            }

            footer li{
            	margin: 0px;
            	margin-bottom: 10px;
            }

            footer ul{
            	margin-bottom: 25px;
            }

            .left {
            	float: left;
            	margin-left: auto;
            	margin-right: auto;
            }
        }
